body {
  background: url("2139e0405ae392726363954e18afa342.jpg")
  repeat fixed center;
}

.centro {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  color: white;
  font-family: Comic Sans MS, Kalam Light, serif ;
  font-size: 50px;
  font-weight: normal;
  text-align: center;
  line-height: 50px;
}
